body, div, header, h1 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
    color: #E1E1E6;
}


header {
    background-color: #5C5457;
    height: 65px;
    padding-top: 20px;
    padding-left: 40px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin: auto;
}

img {
    height: 50px;
    width: 50px;
    border: 3px solid grey;
    border-radius: 30px;
    margin: auto;
}

a {
    text-decoration: none;
}

a:hover .profileName {
    text-decoration: underline;
}


.container {
    height: 900px;
    min-width: 600px;
    width: 50%;
    margin: 10px auto;
    background-color: white;
}

.streamer {
    box-sizing: border-box;
    height: 70px;
    min-width: 600px;
    width: 100%;
    margin-top: 3px;
    border-left: 5px solid white;
    border-right: 5px solid white;
    margin-left: auto;
    margin-right: auto;
}

.streamer.offline:hover {
    border-left: 5px solid orange;
    border-right: 5px solid orange;
}

.offline {
    background-color: #4A5E82;
}

.online {
    background-color: #B8CCA6;
}

.offline .profileName {
    color: #B8CCA6;
}

.online .profileName  {
    color: #4A5E82;
}

.offline .profileStatus {
    color: #8EA7C2;
    font-style: italic;
}

.online .profileStatus {
    color: #5C5457;
    font-style: italic;
}


.profilePic {
    display: flex;
    height: 100%;
    width: 15%;
    float: left;
}

.profileName {
    display: flex;
    height: 100%;
    width: 25%;
    float: left;
}

.profileStatus {
    display: flex;
    height: 100%;
    width: 60%;
    float: left;
}




